<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Valores a tranformar según ambiente de trabajo conforme a lo requerido del proyecto -->
    <add name="Informix" connectionString="" providerName="" />
    <add name="ejemploString" connectionString="" providerName="" />
    <add name="didaEntities" connectionString="metadata=res://*/Persistence.Cemsysi.csdl|res://*/Persistence.Cemsysi.ssdl|res://*/Persistence.Cemsysi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.11.1.11;initial catalog=xxxx;persist security info=True;user id=xxxx;password=xxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MyKey" value="MyValue" />
  </appSettings>
  
</configuration>