<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Informix" connectionString="Database=xxxx;Host=A.A.?.?;Server=?????;Service=?????;Protocol=onsoctcp;UID=?????;Password=?????;" providerName="IBM.Data.Informix" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString,providerName)" />
    <add name="ejemploString" connectionString="Data Source=111.11.1.11;Initial Catalog=MovilidadAcademica;Persist Security Info=True;User ID=xxxx;Password=xxxx;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString,providerName)" />
    
  </connectionStrings>
</configuration>