<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Informix" connectionString="Database=xxxx;Host=?.?.?.?;Server=?????;Service=?????;Protocol=onsoctcp;UID=?????;Password=?????;" providerName="IBM.Data.Informix" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString,providerName)" />
    <add name="MSSQL2008R2" connectionString="Data Source=?.?.?.?;Initial Catalog=?????;Persist Security Info=True;User ID=?????;Password=?????;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString,providerName)" />
  </connectionStrings>
</configuration>