<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <!-- NOTE! If you are using ASP.NET 1.x then remove the
                 requirePermission="false" attribute from the section
                 elements below as those are only needed for
                 partially trusted applications in ASP.NET 2.0 -->
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="1"/>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/Temporal/Log"/>
  </elmah>
  <connectionStrings>
    <add name="CertificadosMediaSuperiorEntities" connectionString="metadata=res://*/Persistence.CertificadosElectronicosMS.CertificadosEMS.csdl|res://*/Persistence.CertificadosElectronicosMS.CertificadosEMS.ssdl|res://*/Persistence.CertificadosElectronicosMS.CertificadosEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.11.1.11;initial catalog=xxxx;persist security info=True;user id=xxxx;password=xxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Agregar todos los valores requeridos y que sean exclusivos del proyecto en todos los ambientes de trabajo -->
    <add key="applicationTitle" value="Módulo de Certificación Electrónica MS"/>
    <add key="idAplicacion" value="Módulo de Certificación Electrónica MS"/>
    <add key="tituloCorreo" value="Módulo de Certificación Electrónica MS"/>
    <add key="masterPage" value="~/Views/Shared/_Layout.cshtml"/>
    <add key="imgHeader" value="~/Images/Template/HEADER.png"/>
    <add key="favicon" value="~/Images/layout/icono encabezado.png"/>
    <add key="ocultar_menu" value="~/Images/layout/Ocultar.jpg"/>
    <add key="mostrar_menu" value="~/Images/layout/Mostrar.jpg"/>
    <add key="ocultar_menuHover" value="~/Images/layout/OcultarHover.jpg"/>
    <add key="mostrarHover_menu" value="~/Images/layout/MostrarHover.jpg"/>
    <add key="menuAccion" value="~/Images/Compartidas/Iconos/accion.png"/>
    <add key="imgSalir" value="~/Images/Compartidas/Iconos/icono_salir.png"/>
    <add key="imgMenu" value="~/Images/Compartidas/Iconos/icono_menu.png"/>
    <add key="img_incidencia" value="~/Images/Compartidas/Iconos/icono_reportarincidencia.png"/>
    <add key="imgCargandoSep" value="~/Images/layout/imagenes_estilos/ajax-loading.gif"/>
    <add key="imgLogoFirefox" value="~/Images/layout/firefox.png"/>
    <add key="imgLogoChrome" value="~/Images/layout/chrome.png"/>
    <add key="imgPieSeparador" value="~/Images/layout/separadorMenu.png"/>
    <add key="imgPieTelefono" value="~/Images/layout/pie_telefono.png"/>
    <add key="repositorioImagenes" value="https://repositorioimagenes.seg.guanajuato.gob.mx/cemsysi/"/>
    <add key="jsMenuSieg" value="~/Scripts/MenuSIEG/menusieg.js"/>
    <add key="close" value="Home/Close"/>
    <add key="extensionesArchivosValidas" value=".pdf, .doc, .xlsx"/>
    <add key="usuarioFTP" value=""/>
    <add key="contrasenaFTP" value=""/>
    <add key="urlFTP" value="ftp://j_tapia/ftpCEMSySI//"/>
    <add key="elmah.mvc.disableHandler" value="false"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
    <add key="elmah.mvc.requiresAuthentication" value="false"/>
    <add key="elmah.mvc.allowedRoles" value="*"/>
    <add key="elmah.mvc.allowedUsers" value="*"/>
    <add key="elmah.mvc.route" value="elmah"/>
    <add key="rutaPlantillas" value="Content/Plantillas"/>
    <!-- Valores para el envío de codigod a traves de correo -->
    <add key="rutaPortalDescarga" value="http://pruebas.calificaciones.seg.guanajuato.gob.mx/index.aspx"/>
    <add key="rutaAvisoprivacidad" value="http://www.seg.guanajuato.gob.mx/Paginas/AvisoPrivacidad.aspx"/>
    <add key="rutaPaginaSEG" value="http://www.seg.guanajuato.gob.mx"/>
    <!-- Valores a tranformar según ambiente de trabajo conforme a lo requerido del proyecto -->
    <add key="minimizeHelpers" value="true"/>
    <add key="repositorio" value="/home/oracle/Oracle/Middleware/user_projects/domains/DESA7001/repositorio_sipseg"/>
    <add key="urlUsuarioRolAplicacionWS" value="http://pru-weblogic-soa2.seg.guanajuato.gob.mx:8001/SEGSOA-SCS-context-root/UsuarioRolAplicacionWSService?WSDL"/>
    <add key="urlSesionWs" value="http://172.17.3.158/SesionWSService.svc?wsdl"/>
    <add key="urlUsuariosWS" value="http://pru-weblogic-soa2.seg.guanajuato.gob.mx:8001/SEGSOA-SCS-context-root/UsuariosWSService?WSDL"/>
    <add key="urlSieg" value="http://pruebas.sieg.seg.guanajuato.gob.mx/"/>
    <add key="urlSiegwithContext" value="http://pruebas.sieg.seg.guanajuato.gob.mx/menuSIEG_v3/"/>
    <add key="urlIncidenciaSieg_onclick" value="http://172.17.3.60:8001/siga/incidencia/registrarIncidencia.jsp?id_aplicacion=127"/>
    <add key="urlIncidenciaSieg_img" value="http://172.17.3.60:8001/siga/imagenes/botonincidencia3.png"/>
    <add key="urlIncidenciaSieg_url" value="http://172.17.3.60:8001/siga/incidencia/registrarIncidencia.jsp?id_aplicacion=127"/>
    <add key="urlQrDocumento" value="http://172.17.3.172/Verificacion/Index?id="/>
    <add key="idConsultaPermisos" value="4"/>
    <!-- Portal de Descarga -->
    <add key="menuPrincipal" value="http://172.17.3.119/index.aspx"/>
    <add key="botonSalir" value="http://172.17.3.119/asetcerra.aspx"/>
    <!-- Valores para creacion de QR -->
    <add key="urlPortalVerificacion" value="https://www.siged.sep.gob.mx/SIGED/documentos.html?folio="/>
    <add key="urlPortalVerificacionInterno" value="https://www.siged.sep.gob.mx/SIGED/documentos.html?folio="/>
    <!-- Fin -->
    <!-- TERMINA MODIFICACIÓN 2014JUL22 -->
  </appSettings>
  <system.web>
    <sessionState timeout="600"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" uiCulture="es"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5.1" debug="true"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler"/>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <location path="~/Temporal">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.11.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="notificacion@seg.guanajuato.gob.mx">
        <network host="smtp.office365.com" defaultCredentials="false" port="587" userName="notificacion@seg.guanajuato.gob.mx" password="ZYU05431" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding/>
        <binding name="WSCorreoSoap"/>
        <binding name="BasicHttpBinding_IGenericoConsultaSCSWS"/>
        <binding name="BasicHttpBinding_IServiciosTitulosElectronicos"/>
        <binding name="ConsultaRenapoPortBinding"/>
        <binding name="CertificadosIEMSPortTypeSoap11" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport"/>
        </binding>
        <binding name="CertificadosIEMSPortTypeSoap111" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://servicioweb06.seg.guanajuato.gob.mx:80/CURP/ConsultaRenapo" binding="basicHttpBinding" bindingConfiguration="ConsultaRenapoPortBinding" contract="ConsultaRenapoWS.ConsultaRenapo" name="ConsultaRenapoPort"/>
      <endpoint address="http://wscorreo.seg.guanajuato.gob.mx/wscorreo.asmx" binding="basicHttpBinding" bindingConfiguration="WSCorreoSoap" contract="EnvioCorreo.WSCorreoSoap" name="WSCorreoSoap"/>
      <endpoint address="https://172.17.3.80:94/Genericos/GenericoConsultaSCSWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenericoConsultaSCSWS" contract="ServicioPermisos.IGenericoConsultaSCSWS" name="BasicHttpBinding_IGenericoConsultaSCSWS"/>
      <endpoint address="https://mecqa.siged.sep.gob.mx:443/mec-ws/services/" binding="basicHttpBinding" bindingConfiguration="CertificadosIEMSPortTypeSoap11" contract="CertificadoMediaSuperiorWS.CertificadosIEMSPortType" name="CertificadosIEMSPortTypeSoap11"/>
      <endpoint address="https://mecqa.siged.sep.gob.mx:443/mec-ws/services/" binding="basicHttpBinding" bindingConfiguration="CertificadosIEMSPortTypeSoap111" contract="CertificadosIEMS.CertificadosIEMSPortType" name="CertificadosIEMSPortTypeSoap111"/>
    </client>
  </system.serviceModel>
</configuration>