<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->

  <connectionStrings>

    
    
    <add name="CertificadosMediaSuperiorEntities" connectionString="metadata=res://*/Persistence.CertificadosElectronicosMS.CertificadosEMS.csdl|res://*/Persistence.CertificadosElectronicosMS.CertificadosEMS.ssdl|res://*/Persistence.CertificadosElectronicosMS.CertificadosEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.11.1.11;initial catalog=xxxx;persist security info=True;user id=xxxx;password=xxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Locator="Match(name)"  xdt:Transform="SetAttributes(connectionString)" />
    
  </connectionStrings>
  <appSettings>
    <add key="minimizeHelpers" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="repositorio" value="/home/oracle/Oracle/Middleware/user_projects/domains/DESA7001/repositorio_sipseg" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlUsuarioRolAplicacionWS" value="http://pru-weblogic-soa2.seg.guanajuato.gob.mx:8001/SEGSOA-SCS-context-root/UsuarioRolAplicacionWSService?WSDL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSesionWs" value="http://172.17.3.158/SesionWSService.svc?wsdl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlUsuariosWS" value="http://pru-weblogic-soa2.seg.guanajuato.gob.mx:8001/SEGSOA-SCS-context-root/UsuariosWSService?WSDL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSieg" value="http://pruebas.sieg.seg.guanajuato.gob.mx/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSiegwithContext" value="http://pruebas.sieg.seg.guanajuato.gob.mx/menuSIEG_v3/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlIncidenciaSieg_onclick" value="http://172.17.3.60:8001/siga/incidencia/registrarIncidencia.jsp?id_aplicacion=127" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlIncidenciaSieg_img" value="http://172.17.3.60:8001/siga/imagenes/botonincidencia3.png" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="urlIncidenciaSieg_url" value="http://172.17.3.60:8001/siga/incidencia/registrarIncidencia.jsp?id_aplicacion=127" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="idAplicacion" value="Módulo de Certificación Electrónica MS" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="urlQrDocumento" value="http://172.17.3.172/Verificacion/Index?id=" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="idConsultaPermisos" value="4" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="rutaPortalDescarga"  value="http://pruebas.calificaciones.seg.guanajuato.gob.mx/index.aspx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!-- Portal de Descarga -->
    <add key="menuPrincipal" value="http://172.17.3.119/index.aspx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="botonSalir" value="http://172.17.3.119/asetcerra.aspx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <!-- Fin -->
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSCorreoSoap" />
        
         
        <binding name="BasicHttpBinding_IGenericoConsultaSCSWS" />
        <binding name="CertificadosIEMSPortTypeSoap11"  maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wscorreo.seg.guanajuato.gob.mx/wscorreo.asmx"
          binding="basicHttpBinding" bindingConfiguration="WSCorreoSoap"
          contract="EnvioCorreo.WSCorreoSoap" name="WSCorreoSoap" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"/>
       
      <endpoint address="https://172.17.3.80:94/Genericos/GenericoConsultaSCSWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenericoConsultaSCSWS"
                contract="ServicioPermisos.IGenericoConsultaSCSWS" name="BasicHttpBinding_IGenericoConsultaSCSWS" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"/>

      <endpoint address="https://mecqa.siged.sep.gob.mx:443/mec-ws/services/"
                binding="basicHttpBinding" bindingConfiguration="CertificadosIEMSPortTypeSoap11"
                contract="CertificadoMediaSuperiorWS.CertificadosIEMSPortType"
                name="CertificadosIEMSPortTypeSoap11"   xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" />
    </client>
  </system.serviceModel>
</configuration>