<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->
    
  <connectionStrings>
    <!-- 
      <add name="MyDB" connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>  
    -->
   <!--<add name="didaEntities" connectionString="metadata=res://*/Persistence.BD_FrameWork.BD_FrameWork.csdl|res://*/Persistence.BD_FrameWork.BD_FrameWork.ssdl|res://*/Persistence.BD_FrameWork.BD_FrameWork.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=j_tapia4;initial catalog=dida;user id=usuarioPlantilla;password=micontraseña1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString,providerName)" />-->
 
  </connectionStrings>
  <appSettings>
    <add key="minimizeHelpers" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="repositorio" value="/Temporal" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlUsuarioRolAplicacionWS" value="http://172.17.1.135:7001/SEGSOA-SCS-context-root/UsuarioRolAplicacionWSService?WSDL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSesionWs" value="http://172.17.3.80:91/SesionWSService.svc?singleWsdl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlUsuariosWS" value="http://172.17.1.135:7001/SEGSOA-SCS-context-root/UsuariosWSService?WSDL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSesionWs" value="http://172.17.3.80:91/SesionWSService.svc?singleWsdl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSieg" value="http://desarrollo.sieg.seg.guanajuato.gob.mx/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlSiegwithContext" value="http://desarrollo.sieg.seg.guanajuato.gob.mx/menuSIEG_v3/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlIncidenciaSieg_onclick" value="http://172.17.1.109:7001/siga/incidencia/registrarIncidencia.jsp?id_aplicacion=446" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="urlIncidenciaSieg_img" value="http://172.17.1.109:7001/siga/imagenes/botonincidencia3.png" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="urlIncidenciaSieg_url" value="http://172.17.1.109:7001/siga" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="rutaPortalDescarga" value="http://calificaciones.seg.guanajuato.gob.mx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="urlQrDocumento" value="http://172.17.3.172/Verificacion/Index?id=" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
