<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
                <binding name="WSCorreoSoap" />
                <binding name="BasicHttpBinding_IGenericoConsultaSCSWS" />
                <binding name="CertificadosIEMSPortTypeSoap11" textEncoding="utf-8">
                    <security mode="Transport" />
                </binding>
                <binding name="ConsultaRenapoPortBinding" />
                <binding name="CertificadosIEMSPortTypeSoap111" textEncoding="utf-8">
                    <security mode="Transport" />
                </binding>
                <binding name="CertificadosIEMSPortTypeSoap112" textEncoding="utf-8" />
                <binding name="CertificadosIEMSPortTypeSoap113" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wscorreo.seg.guanajuato.gob.mx/wscorreo.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSCorreoSoap"
                contract="EnvioCorreo.WSCorreoSoap" name="WSCorreoSoap" />
            <endpoint address="http://172.17.3.167/WS-SOA-IIS-SCS/Genericos/GenericoConsultaSCSWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenericoConsultaSCSWS"
                contract="ServicioPermisos.IGenericoConsultaSCSWS" name="BasicHttpBinding_IGenericoConsultaSCSWS" />
            <endpoint address="https://mecqa.siged.sep.gob.mx:443/mec-ws/services/"
                binding="basicHttpBinding" bindingConfiguration="CertificadosIEMSPortTypeSoap11"
                contract="CertificadoMediaSuperiorWS.CertificadosIEMSPortType"
                name="CertificadosIEMSPortTypeSoap11" />
            <endpoint address="http://servicioweb06.seg.guanajuato.gob.mx:80/CURP/ConsultaRenapo"
                binding="basicHttpBinding" bindingConfiguration="ConsultaRenapoPortBinding"
                contract="ConsultaRenapoWS.ConsultaRenapo" name="ConsultaRenapoPort" />
            <endpoint address="https://mecqa.siged.sep.gob.mx:443/mec-ws/services/"
                binding="basicHttpBinding" bindingConfiguration="CertificadosIEMSPortTypeSoap111"
                contract="CertificadosIEMS.CertificadosIEMSPortType" name="CertificadosIEMSPortTypeSoap111" />
            <endpoint address="http://mec.sep.gob.mx:80/mec-ws/services/"
                binding="basicHttpBinding" bindingConfiguration="CertificadosIEMSPortTypeSoap113"
                contract="ServicioIEMS.CertificadosIEMSPortType" name="CertificadosIEMSPortTypeSoap112" />
        </client>



 


    </system.serviceModel>
</configuration>