<div class="colorGris headerTablaGris" style="text-align:center">Datos de Concentradora</div>
<div class="row colorGris3 rowTablaGris" style="word-wrap: break-word;">
    <div class="col-3">
        <div class="conceptoTablaGris">Concentradora:</div>
        <div class="detalleConcepto">@ViewBag.conId</div>
    </div>
    <div class="col-3">
        <div class="conceptoTablaGris">Clave institución:</div>
        <div class="detalleConcepto">@ViewBag.docInstitucionClave</div>
    </div>
    <div class="col-3">
        <div class="conceptoTablaGris">Nombre institución:</div>
        <div id="idTotalDocumentos" class="detalleConcepto">@ViewBag.docInstitucionNombre</div>
    </div>
   
</div>
